<div class="container">
    <table>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>description</th>
            <th>tags</th>
            <th>image</th>
            <th>deletar</th>
        </tr>
        {% for project in projects %}
        <tr>
            <td>{{ project.id }}</td>
            <td>{{ project.title }}</td>
            <td>{{ project.description }}</td>
            <td>{{ project.tags }}</td>
            <td>
                {% if project.image %}
                    <img src="{{ project.image.url }}" alt="{{ project.title }}" width="100">
                {% else %}
                    Sem imagem
                {% endif %}
            </td>
            <td>
                <a href="{% url 'delete_project' project.id %}" onclick="return confirm('Tem certeza que deseja excluir este projeto?');">
                    🗑️
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
